PyQt6~=6.6.1
PyQt6-QScintilla~=2.14.1
PyQtUIkit~=2.10.10
qasync~=0.27.1
TestGeneratorPluginLib~=1.2.3
appdirs~=1.4.4
lxml~=5.0.0
requests~=2.31.0
pymorphy3~=2.0.0
pymorphy3-dicts-ru
Send2Trash~=1.8.2
py7zr~=0.20.5
StdioBridge~=1.2.2
aiohttp~=3.9.5

pywin32; sys_platform == 'win32'
win11toast~=0.34; sys_platform == 'win32'
PyTaskbarProgress~=0.0.8; sys_platform == 'win32'
